:root {
    --primary-bg-color: #FEFEFEff;
    --secondary-bg-color: #F6F9FDff;
    --border-color: #C5C5DBff;
    --text-color: #7F72B5ff;
    --secondary-text-color: #AAA9CEff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--primary-bg-color);
    color: var(--text-color);
}

/* layout */
.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
  
}

/* sidebar */
.sidebar {
    background: var(--primary-bg-color);
    padding: 20px;
    border-right: 1px solid var(--primary-bg-color);
    box-shadow: 0px 0px 8px var(--border-color);
}

.sidebar-panel{
    background: var(--secondary-bg-color);
    height: fit-content;
    padding: 5px 20px;
    margin: 20px 0;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}
.logo {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

/* main */
.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

/* hero */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    background-image: url('images/group.png');
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.panel {
    background: var(--secondary-bg-color);
    height: 450px;
    padding: 10px 20px;
    /* border: 1px solid var(--border-color); */
    box-shadow: 0px 0px 8px var(--border-color);
    border-radius: 15px;
    width: 28%;
}

/* cards */
.card {
    background: var(--primary-bg-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .news {
   ;
} */

#upcoming-events {
    background: var(--primary-bg-color);
}

#upcoming-events .card {
    background: var(--secondary-bg-color);
    margin-top: 0;
    margin-bottom: 0;
}

#timer .card{
    margin-top: 20px;
}


/* #gallery {

} */

.photo-box img {
    width: 100%;
    border-radius: 15px;
}
