body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* layout */
.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
  
}

/* sidebar */
.sidebar {
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.logo {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: #555;
}

/* main */
.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

/* hero */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    background-image: url('images/group.png');
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.panel {
    background: #eef2ff;
    height: 450px;
    padding: 10px 20px;
    border: #ddd solid 1px;
    border-radius: 15px;
    width: 28%;
}

/* cards */
.card {
    background: white;
    padding: 10px;
    border: #ddd solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .news {
   ;
} */

#upcoming-events {
    background: white;
}

#upcoming-events .card {
    background: eef2ff;
}


/* #gallery {

} */

.photo-box img {
    width: 100%;
    border-radius: 15px;
}
